html{
	font-family: Arial;
}
.contenedor{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
body{
	background-size: 100%;
	background-image:
	url(IMG/wallpaper.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed
}
.centrado{
	margin:10px auto;
	display:block; 
}
header{
    margin: 20px 0;
    /*background-color: #ffc890; */
}
header h1 {
    padding: 20px 0;
    text-align: center;
}
.main {
    width: 100%;
	margin: 0px;
	align-content: center;
	 
    
} 
 
.menu {
	width: 100%;
	max-width:1000px;
	margin:auto;
	text-align: center;
}
 
header nav {
	background:#504d4d;
	opacity: 0.5;
	margin-bottom:10px;
	border-radius: 50px;
}
 
header nav ul {
	list-style: none;
	overflow: hidden;
	text-align: center;
}
 
header nav ul li {
	float: left;
}
 
header nav ul li a {
	display: block ;
	padding:20px;
	color:#fff;
 	text-decoration: none;
}
 
header nav ul li a:hover {
	background:#000000;
	opacity: 1;
}
 #galeria {
	margin: 1rem auto;
	width:100%;
	max-width:960px;
	padding:0 20px 20px;
	box-sizing: border-box;
	column-count: 3;

	/* Espacio entre columnas */
	 -moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	column-gap: 20px;
	
	 


}

#galeria header {
	-webkit-column-span:all;
	column-span:all;
}

article {
	background:#fff;
	border-radius:5px;
	border:1px solid #ccc;
	margin:0 0 20px 0;
	text-align: center;
	max-width: 100%;  
	 

	/*Evitamos que se corte al cambiar de columna*/
	 break-inside: avoid;
	page-break-inside: avoid;         

}

article img {
	width:100%;
}
article p {
	visibility: hidden;
  }
article:hover p {
	transition: .5s ease;
 	visibility: visible;
 } 